Ready compare aging seasoft report data preprocessing

In [1]:
import pandas as pd
import numpy as np
import subprocess
import sys
import tkinter as tk
from tkinter import filedialog

In [4]:
e1 = pd.read_excel('/workspaces/PracticeMachineLearning/data/ready aging.xlsx')
e2 = pd.read_excel('/workspaces/PracticeMachineLearning/data/AP APPROVALS - 07.12.23.xlsx')

In [5]:
#replace all int values in the Vendor column with Nan
e1['Vendor'] = e1['Vendor'].mask(e1['Vendor'].apply(lambda x: isinstance(x, int)), np.nan)

In [6]:
# Drop rows that has 'S' or 'T' oin the 'S' column
e1 = e1[~e1['S'].isin(['S', 'T'])]

In [13]:
e1.head(13)

,Vendor,Invoice,S,*================,Unnamed: 4,Dates ===================*,Unnamed: 6,Unnamed: 7,Invoice.1,Discount,Payments,Balance
1,ACI001,"AC, INC.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACI001,121093,O,2023-07-09 00:00:00,2023-07-16 00:00:00,2023-07-09 00:00:00,2023-07-09 00:00:00,2023-07-09 00:00:00,93892.5,0,0,93892.5
3,ACI001,"AC, INC.",NaN,NaN,NaN,NaN,NaN,NaN,93892.5,0,0,93892.5
4,ALP001,ALPHA CHEMICAL SERVICES INC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ALP001,90122,O,2023-06-15 00:00:00,2023-07-15 00:00:00,2023-06-15 00:00:00,2023-06-15 00:00:00,2023-06-15 00:00:00,1206.31,0,0,1206.31
6,ALP001,ALPHA CHEMICAL SERVICES INC,NaN,NaN,NaN,NaN,NaN,NaN,1206.31,0,0,1206.31
7,AME007,AMERICAN LOBSTER PRODUCTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AME007,6997,O,2023-07-09 00:00:00,2023-07-10 00:00:00,2023-07-09 00:00:00,2023-07-09 00:00:00,2023-07-09 00:00:00,121475,0,0,121475
9,AME007,AMERICAN LOBSTER PRODUCTS,NaN,NaN,NaN,NaN,NaN,NaN,121475,0,0,121475
10,ANT004,ANTHEM BC & BS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ANT004,2023-08-01 00:00:00,O,2023-07-07 00:00:00,2023-07-08 00:00:00,2023-07-07 00:00:00,2023-07-07 00:00:00,2023-07-10 00:00:00,1177.24,0,0,1177.24
12,ANT004,ANTHEM BC & BS,NaN,NaN,NaN,NaN,NaN,NaN,1177.24,0,0,1177.24
13,ARA001,ARAHO TRANSFER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#copy the vendor code to each empty cell in row 'Vendor' if it is empty 
#with the cell above
for i in range(2, len(e1)):
    if pd.isnull(e1.at[i, 'Vendor']):
        e1.at[i, 'Vendor'] = e1.at[i-1, 'Vendor']

KeyError: 34

In [14]:
# Drop rows based on missing the 'O' value. Invoices only show in 'O' rows
e1 = e1[e1['S'] == 'O']

In [15]:
# rename e2 title column and drop first 15 characters
e2 = e2.rename(columns={'Title': 'invoiceid'})
e2['invoiceid'] = e2['invoiceid'].str[15:]

In [17]:
# for e1 merge vendor and invoice to invoiceid
e1["invoiceid"] = e1['Vendor'].astype(str) +" "+ e1['Invoice'].astype(str)